<include file="Public/header" title="蒲公英自动化" />
  <div class="right-product right-full">
        <div class="center-back right-back">
        <div class="container-fluid">
          <div class="info-center">
                    <div class="page-header">
                      <div class="pull-left">
						<h4>模块列表</h4>      
					</div>
            <div class="pull-right">
                <button type="button" class="btn btn-mystyle btn-sm">搜索</button>
                 <button type="button" class="btn btn-mystyle btn-sm">返回</button>
            </div>
            </div>
            <form action="{:U('Officweb/newslist')}" method="post">
            <div class="search-box row">
               <div class="col-md-8">
                <div class="form-group">
                  <input type="text" name="keyword" value="{$keyword}" class="form-control" placeholder="请输入标题">               
               </div>
               <div class="form-group btn-search">
                    <input type="submit" name="" class="btn btn-default" style="width:70px" value="搜索">
                </div>
                </div>
                <div class="col-md-4">
                 <div class="btn-group pull-right" role="group" aria-label="...">
                  <a type="button" href="{:U('Officweb/newsinfo')}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> 新增</a>
                </div>
                </div>
            </div>
            </form>
            <div class="clearfix"></div>
              <div class="table-margin">
              <table class="table table-bordered table-header">
                 <thead>
                 <tr>
                   <td class="w70">标题</td>
                   <td class="w30">所属类型</td>
                   <td>操作</td>
                 </tr>
                 </thead>
                 <tbody>
                 <foreach name="model" item="v">
                 <tr>
                    <td>{$v.title}</td>
                    <td>{$v.navname}</td>
                    <td style="white-space:nowrap;">
                      <a type="button" href="{:U('Officweb/newsinfo',array('id'=>$v['id']))}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> 编辑</a>
                      <a type="button" onclick="return confirm('确定删除?');" href="{:U('Officweb/newsdel',array('id'=>$v['id']))}" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> 删除</a>
                    </td>
                 </tr>
                 </foreach>
                 </tbody>
                 <tfoot>
                    <tr>
                      <td colspan="4">
                        <div class="pull-right">
                            {$page}
                        </div>
                      </td>
                    </tr>
                 </tfoot>
              </table>
            </div>
            </div>
          </div>
        </div> 
 </div>
<include file="Public/footer" title="" />