<include file="Public/header" title="蒲公英控制台" />
<style>
    .ml15{margin-left:15px;}
    th{color: #FFF;font-weight: normal;}
    td{color: #4b556a;}
    .tr{text-align: right;}
    .table-condensed>thead>tr>th,.table-condensed>tbody>tr>td{vertical-align: middle;padding: 10px;text-align: center;}
    .page-body{width: 100%;background: #fff;padding: 20px;box-shadow: 0 0 5px 0 #dedfe4;border-radius: 4px;}
</style>
<div class="right-product right-full" style="background: #eef0f6;">
    <div class="center-back right-back">
        <div class="container-fluid">
            <div class="info-center">
                <div class="page-header">
                    <div class="pull-left">
                        <h4>防火墙相关设置 ＞ 域名白名单(扬州)</h4>      
                    </div>
                </div>
                <div class="page-body">
                    <h4 style="font-weight: bold;margin: 0 auto 35px;">添加防火墙域名白名单(扬州)</h4>
                    <span>域名（单个一行） :</span><input class="form-control" placeholder="请输入域名" style="width: 180px;display: inline-block;">
                    <button class="btn btn-primary btn-sm">提交</button>
                </div>
            </div>
        </div>
    </div>
</div> 
<include file="Public/footer" title="" />