<include file="Public/header" title="pgyidc" />
<style>
    .show-more{border:1px solid #fff;color:#fff;display: inline-block;}

    .about{padding:20px 0;background: #f2f2f2;};
    .small-banner{background:#dedfe4;}
    .small-fixbanner{background-color:#dedfe4;display: none;position: fixed;top: 0;left: 0;width: 100%;z-index:999;}
    .ul-smbancon{height: 60px;line-height: 60px;}
    .ul-smbancon li{display: inline-block;font-size: 16px;margin:0 50px 0 50px;cursor: pointer;}
    .currenton{color: #60aff6}
    .joinuscontain p,.knowuscontain p{text-align: left;line-height: 2em;font-size: 14px;color:#4b556a}
    .connectcontain{height: 250px;margin-top: 20px;}
    .connectcontain-item{width:24%;height: 250px;padding: 25px;margin-left:9px;float: left;}
    /* .connectcontain-item:hover{border:1px solid #60aff6;box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(96,175,246,.5);} */
    .connectcontain-item img{margin-top: 30px;}
    .connectcontain-item .title{color: #60aff6;font-size: 16px;margin-top:30px;}
    .connectcontain-item .contain{color: #999;font-size: 12px;line-height: 2em;}
</style>

<div class="banner">
    <div class="banner-contain w1200 pr">
        <div class="bc-left"><span class="circle1"></span><span class="circle2"></span><img src="__ASSETS__/images/about.png"></div>
        <div class="bc-right tl pa" style="left:200px;top:20px;">
            <h2 class="m0 wow fadeInUp">关于我们</h2>
            <p class="mt20 wow fadeInUp">宿迁蒲公英网络有限公司（http://www.pgyidc.com)是座落于中国经济最前沿—江苏宿迁的一家公司，由一批有多年网络行业丰富工作经验的人员于2005年10月参与创办，注册资本1000万元。公司于2006年获得江苏省通信管理局ICP经营许可，以国际化、高标准的工作流程为超过10万家企、事业单位及个人用户提供服务器托管及网站接入服务。宿迁蒲公英网络直营数据中心的服务器保有量超过5000台，网站接入数量超过10万个，是国内最大的互联网接入商之一。 核心资源覆盖在上海、江苏宿迁、扬州、镇江并在扬州镇江等地拥有直营子公司，在超过5个核心城市拥有直营数据中心及服务团队。 宿迁蒲公英网络是江苏互联网协会和中国互联网协会会员</p>
        </div>
    </div>
</div>
<div class="small-banner" style="background: #dedfe4">
    <div class="smban-contain w1200" style="height:60px;">
        <ul class="ul-smbancon">
            <li class="currenton know">了解我们</li>
            <li class="join">加入我们</li>
            <li class="connect">联系我们</li>
        </ul>
    </div>
</div>
<div class="small-fixbanner">
    <div class="smban-contain w1200" style="height:60px;">
        <ul class="ul-smbancon">
            <li class="currenton know">了解我们</li>
            <li class="join">加入我们</li>
            <li class="connect">联系我们</li>
        </ul>
    </div>
</div>
<div class="about">
    <div class="w1200" id="knowus">
        <h3>了解我们</h3>
        <div class="knowuscontain">
            <p><i class="fa fa-circle-o"></i>&nbsp;<b style="font-size:18px;color:#000;">核心价值</b>&nbsp;&nbsp;宿迁蒲公英网络致力于为用户提供更好的解决方案，并始终领跑互联网服务的革新。对于宿迁蒲公英网络来说，优质的网络服务是不计回报的投入、极尽严格的品质规范和对“用户第一“的充分理解与贯彻，对销售和售后服务模式的大胆创新与挑战。宿迁蒲公英网络尊重和把握每一个客户的想法与建议，并视之为机遇，也正是这种始终与用户保持高度统一的价值观使宿迁蒲公英网络不断欣荣并高速、健康发展至今。这也是宿迁蒲公英网络品牌的核心所在：一个力求至臻完善的服务标准。</p>
            <p><i class="fa fa-circle-o"></i>&nbsp;<b style="font-size:18px;color:#000;">公司理念</b>&nbsp;&nbsp;宿迁蒲公英网络在公司规模不断壮大的情况下大力加强企业文化建设，努力探索企业文化的内涵，公司和员工都认可“付出”与“回报”的正相关是实现企业发展和个人价值的的共赢选择。我们珍惜员工的每一份付出，珍惜用户的每一次选择，珍惜公司的每一步成长，这将激励我们努力提供一个更广阔的平台以实现“与员工双赢”、“与客户双赢”、“与社会双赢”、“与合作伙伴双赢”、“与竞争对手双赢”，进而成为一家优秀的互联网企业。</p>
            <p><i class="fa fa-circle-o"></i>&nbsp;<b style="font-size:18px;color:#000;">业务覆盖</b>&nbsp;&nbsp;宿迁蒲公英网络专业从事服务器托管、服务器租用、数据中心维护、专线接入等服务 ，拥有最丰富的互联网资源，经营和管理着超过3个电信 、联通及双线数据中心。目前我们拥有电信总出口带宽超过120G，联通总出口带宽超过20G，截止2010年2月份投入使用的机柜数量超过400个。宿迁蒲公英网络积极拓展全球市场，不仅在华东、华北、华南地区实现了资源及服务的全覆盖，更是在香港、美国等海外市场拥有了直营或自建的数据中心。宿迁蒲公英网络同时拥有最顶尖的网络技术力量，在网络保障、信息安全等领域都领先业界;凭借大规模的投入和领先的技术支撑，宿迁蒲公英网络以更快的速度实现网络资源覆盖，满足我们的用户对差别网络资源的需求。</p>
            <p><i class="fa fa-circle-o"></i>&nbsp;<b style="font-size:18px;color:#000;">服务团队</b>&nbsp;&nbsp;宿迁蒲公英网络目前服务团队超过60人，技术精湛、吃苦耐劳、敬业爱岗以及高度负责的工作态度体现在为用户服务的每一个环节;凭借一流的服务团队，我们为用户提供最优质的网络服务。宿迁蒲公英网络为每个机房配备三到八名工程师，提供24小时驻机房现场维护，为租用和托管用户提供实时上架、免费备机和备件 、带宽及硬件扩充服务。宿迁蒲公英网络每个直营机房均提供24小时技术支持电话，同时配备指定的客户经理24小时服务，保证畅通的服务渠道。在上海地区配备客户服务专车，免费接送客户的网络设备进出机房。公司同时采取“错时上班”机制，实时在线的业务受理一直延伸到晚上23:30，而驻机房的维护人员和信息安全人员则是24小时轮流值班，公司同时开放40部直线电话及50多部客户经理及服务投诉的手机，确保优质服务不留任何死角。</p>
        </div>
    </div>
    <div style="background: #fff;padding: 20px 0;">
        <div class="w1200" id="joinus">
            <h3>加入我们</h3>
            <div class="joinuscontain">
                <p>蒲公英自成立到现在，我们的事业取得了迅猛发展，如果你有志于IDC机房事业，希望亲手创造中国互联网下一个奇迹，那么非常欢迎加入我们，共创未来！我们希望我们的团队成员拥有充沛的创业激情，说到做到的执行力，以及永不放弃的精神！亲手创造中国互联网下一个奇迹，共创未来，您将和我们一起深度参与公司及团队的成长过程！</p>
                <p><i class="fa fa-circle"></i> <b style="color:#000;font-size: 16px;">客服</b></br>职位描述:</br>主要负责公司客户服务，互联网备案。工作时间8小时，每周单休。要求计算机专业毕业，对计算机知识有一定的认知，普通话标准。有1年以上的工作经验。薪资待遇：底薪 + 奖金，具体面议！</p>
                <p><i class="fa fa-circle"></i> <b style="color:#000;font-size: 16px;">技术工程师</b></br>岗位职责:</br>1、负责维护公司内部服务器，为相关部门提供技术支持。</br>2、回复和处理客户提交的问题。</br>3、为客户提供我公司服务范围内的客户指导。</br>4、根据相关部门的要求协同各部门进行售后服务。
                <p>任职要求:</br>1、大专或本科学历，计算机相关专业，2年以上相关工作经验，能熟练组装电脑硬件，会排查判断电脑硬件故障。</br>2、精通web,email,sql服务架构,具有独立维护能力，能熟练安装windows 2003操作系统及liunx操作系统，有责任心，负责日常电信机房维护工作！</br>3、精通windows 操作系统（服务器版）和 linux (RH or centos or freebsd and so on.)系统，熟悉服务器等硬件设备的设置以及管理。</br>4、精通mysql、mssql的基本操作和基本维护，电脑公司技术员或者网吧技术员优先考虑。</br>5、具有团队合作精神、且又能独立的学习能力。</p>
                <p>工作时间:周一到周五，八小时工作时间。</p>
                <p>薪资待遇:底薪 + 奖金，具体面议！</p>
                <p>联系人:何颖</p>
                <p>联系方式:15751554577</p>
                <p>工作地点：江苏省宿迁市宿豫区金融财富广场C座4楼</p>
            </div>
        </div>
    </div>
    <div id="connectus" style="padding: 20px 0;">
        <h3>联系我们</h3>
        <div class="w1200 connectcontain">
            <div class="connectcontain-item">
                <i class="fa fa-envelope-o" style="font-size:50px;color:#60aff6;"></i>
                <p class="title">公司邮箱</p>
                <p class="contain">pgyidc@hotmail.com</p>
            </div>
            <div class="connectcontain-item">
                <i class="fa fa-qq" style="font-size:50px;color:#60aff6;"></i>
                <p class="title">售后客服</p>
                <p class="contain">QQ:800002004</p>
            </div>
            <div class="connectcontain-item">
                <i class="fa fa-phone" style="font-size:50px;color:#60aff6;"></i>
                <p class="title">技术支持</p>
                <p class="contain">0527-84224055转800/801</p>
            </div>
            <div class="connectcontain-item">
                <i class="fa fa-map-marker" style="font-size:50px;color:#60aff6;"></i>
                <p class="title">公司地址</p>
                <p class="contain">江苏省宿迁市宿豫区金融财富广场C座4楼</p>
            </div>
        </div>
        <section class="section map">
            <div style="width: auto; height: 400px; font-size: 12px; margin-top: 30px; overflow: hidden; position: relative; z-index: 0; background-color: rgb(243, 241, 236); color: rgb(0, 0, 0); text-align: left;" id="map"></div>
        </section>
    </div>
</div>
<include file="Public/footer" title="footer" />