<include file="Public/header" title="pgyidc" />
<style>
    .show-more{border:1px solid #fff;color:#fff;display: inline-block;}

</style>

<div class="banner">
    <div class="banner-contain w1200 pr">
        <div class="bc-left"><span class="circle1"></span><span class="circle2"></span><img src="__ASSETS__/images/about.png"></div>
        <div class="bc-right tl pa" style="left:200px;top:20px;">
            <h2 class="m0 wow fadeInUp">荣誉资质</h2>
            <p class="mt20 wow fadeInUp"></p>
        </div>
    </div>
</div>
<div class="main">
    <div class="w1200">
        <img src="__ASSETS__/images/最新营业执照副本-宿迁蒲公英网络有限公司.jpg" width="100%">
        <img src="__ASSETS__/images/honer_1.jpg" width="100%">
        <img src="__ASSETS__/images/honer_2.jpg" width="100%">
    </div>
</div>
<include file="Public/footer" title="footer" />