<include file="Public/header" title="pgyidc" />
<style>
h3{font-size: 22px;}
.head-item{width: 280px;height:150px;float: left;margin-left:26px;box-shadow: 0px 4px 5px #bbb;}
.head-item:first-child{margin-left: 0;}
.intro-item{position: relative;width: 300px;height: 360px;float: left;margin-left:150px;background: #fff;}
.intro-item-main{padding: 20px 20px;border: 1px solid #eee;width: 100%;height: 100%;}
.intro-item:first-child{margin-left: 0;}
.intro-item p{font-size: 16px;color: #888;text-align: left;margin-top: 25px;line-height: 2em;}
.intro-item h3{font-size: 20px;color: #888;}
.intro-item .btline{position: absolute;width: 100%;height: 16px;bottom: 0;left:0;}
.intro-item .btline_1{background: #00D5CB;}
.intro-item .btline_2{background: #FDB640;}
.intro-item .btline_3{background: #CEE465;}
.advance-item{width: 300px;height: 200px;float: left;}
.advance-item img{width: 100px;}
.advance-item p{font-size: 20px;color: #888;}
.product-item{width: 280px;height: 330px;float: left;margin-left: 26px;padding: 20px;background: #fff;}
.product-item p{text-align: left;font-size: 16px;color: #111;}
.product-item b{color: #444;}
.product-item:first-child{margin-left: 0;}
.btn-info{background-color: #00c2de;padding: 8px 12px;font-size: 15px;}
@media screen and (max-width: 1200px){
    .head-item{width: 22%;margin-left: 4%;}
    .intro-item{width: 27%;margin-left:9%;}
    .advance-item{width: 25%;}
    .product-item{width: 22%;margin-left: 4%;}
} 
</style>
<div style="width: 100%;height: 550px;">
    <div class="item active" style="background:url(__ASSETS__/images/活动31.jpg) no-repeat center;background-size: cover;">
        <div class="w1200" style="position:relative;height:550px;margin:0 auto;">
            <a href="{:U('Index/serverbuy')}" style="width: 220px; height: 60px;position: absolute;bottom: 80px;left: 10px;"></a>
        </div>
    </div>
</div>
<div class="free_composing pt50 pb50">
    <div class="free_composing_content w1200">
        <div class="head-item"><img src="__ASSETS__/images/active-1.jpg" width="100%"></div>
        <div class="head-item"><img src="__ASSETS__/images/active-2.jpg" width="100%"></div>
        <div class="head-item"><img src="__ASSETS__/images/active3.jpg" width="100%"></div>
        <div class="head-item"><img src="__ASSETS__/images/active4.jpg" width="100%"></div>
    </div>
</div>
<!-- 推荐产品 -->
<div class="free_composing pt50 pb50" style="background-color:#f5f5f5;">
        <div class="free_composing_content w1200">
            <h3 class="content-group-title">推荐产品</h3>
            <div class="mt50 product" style="width:100%; margin:0 auto;">
                <div class="product-item">
                    <h3>通用型</h3>
                    <p style="margin-top:20px;"><b>特点</b>：100G防御/超高性价比</p>
                    <p><b>应用范围</b>：网站、网游、页游、手游、区块链等</p>
                    <p><b>配置</b>：L5630*2/8G/120G固态/30M带宽/100G防御/单线双IP</p>
                    <p style="font-size: 23px;color: #feb459;">450元起</p>
                    <a href="{:U('Index/serverbuy')}" class="btn btn-info" style="width: 100%;">立即购买</a>
                </div>
                <div class="product-item">
                    <h3>计算型</h3>
                    <p style="margin-top:20px;"><b>特点</b>：150G防御/无限抗国外</p>
                    <p><b>应用范围</b>：网站、网游、页游、手游、区块链等</p>
                    <p><b>配置</b>：L5630*2/16G/120G固态/30M带宽/三线双IP</p>
                    <p style="font-size: 23px;color: #feb459;">1200元起</p>
                    <a href="{:U('Index/serverbuy')}" class="btn btn-info" style="width: 100%;">立即购买</a>
                </div>
                <div class="product-item">
                    <h3>增强型</h3>
                    <p style="margin-top:20px;"><b>特点</b>：200G防御/实惠高防产品</p>
                    <p><b>应用范围</b>：网站、网游、页游、手游、区块链等</p>
                    <p><b>配置</b>：L5630*2/16G/120G固态/30M带宽/单线单IP</p>
                    <p style="font-size: 23px;color: #feb459;">1470元起</p>
                    <a href="{:U('Index/serverbuy')}" class="btn btn-info" style="width: 100%;">立即购买</a>
                </div>
                <div class="product-item">
                    <h3>高防型</h3>
                    <p style="margin-top:20px;"><b>特点</b>：300G防御/BGP高防</p>
                    <p><b>应用范围</b>：网站、网游、页游、手游、区块链等</p>
                    <p><b>配置</b>：L5630*2/16G/120G固态/100M带宽/三线单IP</p>
                    <p style="font-size: 23px;color: #feb459;">3000元起</p>
                    <a href="{:U('Index/serverbuy')}" class="btn btn-info" style="width: 100%;">立即购买</a>
                </div>
            </div>
            <a href="{:U('Index/serverbuy')}"><img src="__ASSETS__/images/more.jpg" width="100%" style="margin-top: 25px;"></a>
        </div>
    </div>
<!--机房介绍-->
<div class="free_composing pt50 pb50" style="background-color:#fff;">
    <div class="free_composing_content w1200">
        <h3 class="content-group-title">蒲公英网络机房介绍</h3>
        <div class="mt50 intro" style="width:100%; margin:0 auto;">
            <div class="intro-item">
                <div class="intro-item-main">
                    <img src="__ASSETS__/images/intro3.png">
                    <h3>超大宽带接入 网络稳定</h3>
                    <p>蒲公英网络机房拥有800G电信出口，200G联通出口，200G江苏移动出口，总接入1.2T，超大带宽接入，有效的保证网络快速稳定访问。</p>
                </div>
                <div class="btline btline_1"></div>
            </div>
            <div class="intro-item">
                <div class="intro-item-main">
                    <img src="__ASSETS__/images/intro2.png">
                    <h3>多重防火墙 有效清洗</h3>
                    <p>金盾+华为+傲盾+Chinaddos等多重防火墙进行清洗和阻断，给客户创造更安全稳定的网络运行环境。</p>
                </div>
                <div class="btline btline_2"></div>
            </div>
            <div class="intro-item">
                <div class="intro-item-main">
                    <img src="__ASSETS__/images/intro1.png">
                    <h3>畅享高速访问 超低延迟</h3>
                    <p>BGP协议三线接入，可以和三大
                            运营商实现快速互联互通，轻松实现单IP多线路访问，高效解决“南电信北联通”的区域访问难题，这也是传统双线双IP不能实现的优势。
                            </p>
                </div>
                <div class="btline btline_3"></div>
            </div>
        </div>
    </div>
</div>
<!--八大优势-->
<div class="free_composing pt50 pb50" style="background-color:#f5f5f5;">
    <div class="free_composing_content w1200">
        <h3 class="content-group-title">蒲公英网络机房八大优势</h3>
        <div class="mt50 advance" style="width:100%; margin:0 auto;">
            <div class="advance-item">
                <img src="__ASSETS__/images/advance_1.png" style="width: 100px;">
                <p>100G单机</p>
            </div>
            <div class="advance-item">
                <img src="__ASSETS__/images/advance_2.png">
                <p>自助防御</p>
            </div>
            <div class="advance-item">
                <img src="__ASSETS__/images/advance_3.png">
                <p>三线秒解</p>
            </div>
            <div class="advance-item">
                <img src="__ASSETS__/images/advance_4.png">
                <p>阻断国外</p>
            </div>
            <div class="advance-item">
                <img src="__ASSETS__/images/advance_5.png">
                <p>阻断UDP</p>
            </div>
            <div class="advance-item">
                <img src="__ASSETS__/images/advance_6.png">
                <p>无视CC</p>
            </div>
            <div class="advance-item">
                <img src="__ASSETS__/images/advance_7.png">
                <p>超低延时</p>
            </div>
            <div class="advance-item">
                <img src="__ASSETS__/images/advance_8.png">
                <p>BGP高防</p>
            </div>
        </div>
    </div>
</div>

<include file="Public/footer" title="footer" />