<include file="Public/header" title="pgyidc" />
<style>
    .show-more{border:1px solid #fff;color:#fff;display: inline-block;}
</style>
<div class="banner">
    <div class="banner-contain w1200 pr">
        <div class="bc-left"><span class="circle1"></span><span class="circle2"></span><img src="__ASSETS__/images/cloud.png"></div>
        <div class="bc-right tl pa" style="left:200px;top:20px;">
            <h2 class="m0 wow fadeInUp">云虚拟主机</h2>
            <p class="mt20 wow fadeInUp">蒲公英云服务器配备纯SSD架构打造的高性能存储，旨在为用户提供优质、高效、弹性伸缩的云计算服务。云服务器采用由数据切片技术构建的三层存储功能，切实保护客户数据的安全。同时可弹性扩展的资源用量，为客户业务在高峰期的顺畅保驾护航；灵活多样的计费方式，为客户最大程度的节省IT运营成本，提高资源的有效利用率。</p>
            <div class="show-more m0 mt30 wow fadeInUp askbtn">立即咨询</div>
            <div class="show-more m0 mt30 wow fadeInUp">立即购买</div>
        </div>
    </div>
</div>
<include file="Public/footer" title="footer" />