<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>[title]</title>
<link href="__APC__/bootstrap-3.3.5-dist/css/bootstrap.min.css" title="" rel="stylesheet" />
<link title="" href="__APC__/css/style.css" rel="stylesheet" type="text/css"  />
<link title="blue" href="__APC__/css/dermadefault.css" rel="stylesheet" type="text/css"/>
<link title="green" href="__APC__/css/dermagreen.css" rel="stylesheet" type="text/css" disabled="disabled"/>
<link title="orange" href="__APC__/css/dermaorange.css" rel="stylesheet" type="text/css" disabled="disabled"/>
<link href="__APC__/css/templatecss.css" rel="stylesheet" title="" type="text/css" />
<link title="" href="__APC__/css/jquery.range.css" rel="stylesheet" type="text/css"  />
<link href="http://www.jq22.com/jquery/font-awesome.4.6.0.css" rel="stylesheet">
<script src="__APC__/script/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="__APC__/script/jquery.cookie.js" type="text/javascript"></script>
<script src="__APC__/bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/layer/layer.js" type="text/javascript"></script>
<script src="__APC__/script/jquery.range.js" type="text/javascript"></script>
</head>
<style>
    th{color: #fff;font-weight: normal;}
    td{color: #4b556a;}
    .table-condensed>thead>tr>th,.table-condensed>tbody>tr>td{vertical-align: middle;padding: 8px 4px;}
    .table>tbody>tr>td{border-bottom: 1px solid #ddd;}
    .table>thead>tr>th{border-bottom: 0px solid #ddd;}
    .btn{padding: 4px 8px;font-size: 12px;}
    .ml15{margin-left: 15px}
    .form-control{width: 110px;height:30px;display: inline-block;line-height: 30px;font-size: 12px;}
    .section1,.section2{padding: 0 10px;width: 500px;margin: 0 auto;}
</style>
<script>
    $(function(){
        //close
        $('.upclose').click(function(){
            window.parent.location.reload();
        })
        $('.dnsbd').click(function(){
            $('.section1').css('display','none');
            $('.section2').css('display','block');
        })
        $('.portys').click(function(){
            $('.section1').css('display','block');
            $('.section2').css('display','none');
        })
    })
</script>
<body>
    <div class="section1">
        <div>
            <table class="table table-condensed table-hover">
                <thead>
                    <tr style="background: #09c;color: #fff;">
                        <th>编号</th>
                        <th>&nbsp;</th>
                        <th>名称</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!-- <tr>
                        <td colspan="9" style="text-align: center;height: 150px;line-height: 150px;">
                            <span style="width: 100px;height: 100px;border-radius:100px;background: #ddd;display: block;margin:30px auto 0;padding: 20px 0;"><img src="__APC__/img/box.png"></span>
                            <p style="color: #4b556a;">暂无数据</p>
                        </td>
                    </tr> -->
                </tbody>
            </table>
            <p><b>公网IP地址：</b><span></span><b class="ml15">内网IP地址：</b><span></span><b class="ml15">可映射的端口数：</b><span>0</span></p>
            <div>
                <b>内网IP端口：</b>
                <select class="form-control">
                    <option>常用端口</option>
                    <option>RDP</option>
                    <option>SSH</option>
                    <option>HTTP</option>
                    <option>FTP</option>
                    <option>SQL Server</option>
                    <option>MySql</option>
                </select>
                <input type="text" class="form-control">
                <button class="btn btn-primary">添加端口映射</button>   
            </div>
        </div>
        <div style="border-top: 1px dotted #60aff6;text-align:right;padding: 10px 0;width:100%;position: absolute;bottom: 0;right: 0;">
            <button class="btn btn-primary dnsbd" style="background-color: #2f8ad8;">管理域名绑定</button> <button class="btn btn-default upclose">关闭</button>&nbsp;
        </div>
    </div>
    <div class="section2" style="display: none;">
        <div>
            <table class="table table-condensed table-hover">
                <thead>
                    <tr style="background: #09c;color: #fff;">
                        <th>已绑定的域名</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <!-- <tr>
                        <td colspan="9" style="text-align: center;height: 150px;line-height: 150px;">
                            <span style="width: 100px;height: 100px;border-radius:100px;background: #ddd;display: block;margin:30px auto 0;padding: 20px 0;"><img src="__APC__/img/box.png"></span>
                            <p style="color: #4b556a;">暂无数据</p>
                        </td>
                    </tr> -->
                </tbody>
            </table>
            <p><b>请将域名A记录指向IP地址：</b><b class="ml15">可绑定域名数：</b><span>0</span></p>
            <div><b>域名：</b><input type="text" class="form-control" style="width: 200px;"><button class="btn btn-primary ml15">添加域名绑定</button></div>
        </div>
        <div style="border-top: 1px dotted #60aff6;text-align:right;padding: 10px 0;width:100%;position: absolute;bottom: 0;right: 0;">
            <button class="btn btn-primary portys" style="background-color: #2f8ad8;">管理端口映射</button> <button class="btn btn-default upclose">关闭</button>&nbsp;
        </div>
    </div>
</body>
</html>